{% extends 'base.html.twig' %}

{% block body %}
    <div class="container justify-content-center text-bold text-center mt-5">      
        <h1 class="">Agence - Accueil</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Tel</th>
                    <th>Caisse</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for agency in agencies %}
                <tr>
                    <td>{{ agency.id }}</td>
                    <td>{{ agency.name }}</td>
                    <td>{{ agency.tel }}</td>
                    <td>{{ agency.caisse }}</td>
                    <td>
                        <a class="btn btn-outline-warning btn-sm btn-rounded" href="{{ path('agency_show', {'id': agency.id}) }}">Voir</a>
                        <a class="btn btn-outline-red btn-sm btn-rounded" href="{{ path('agency_edit', {'id': agency.id}) }}">Modif</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas encore d'agence</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('agency_new') }}" class="font-weight-bold btn btn-outline-primary btn-rounded">Ajouter une nouvelle agence</a>
    </div>
{% endblock %}
