{% extends 'base-station.html.twig' %}


{% block body %}

    <h1 class="text-uppercase text-center">Gestion - Fournisseurs</h1>
    <hr>
    <div class="card">
        <div class="card-body">
            <div id="example2_wrapper" class=" dataTables_wrapper dt-bootstrap5">
                <div class="table-responsive">
                    <table class="table" id="exemple2">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>FullName</th>
                            <th>Entreprise</th>
                            <th>Email</th>
                            <th>TelNumber</th>
                            <th>Address</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fournisseur in fournisseurs %}
                            <tr>
                                <td>{{ fournisseur.id }}</td>
                                <td>{{ fournisseur.fullName }}</td>
                                <td>{{ fournisseur.entreprise }}</td>
                                <td>{{ fournisseur.email }}</td>
                                <td>{{ fournisseur.telNumber }}</td>
                                <td>{{ fournisseur.address }}</td>
                                <td>
                                    <a href="{{ path('app_fournisseur_show', {'id': fournisseur.id}) }}">show</a>
                                    <a href="{{ path('app_fournisseur_edit', {'id': fournisseur.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <a href="{{ path('app_fournisseur_new') }}">Nouveau fournisseur</a>
{% endblock %}




