{% extends "base.html.twig" %}
{% block print %}
    <link rel="stylesheet" media="print" href="{{ asset('./assets/css/print.css') }}" />
{% endblock %}
{% block body %}
        <section class="container card" style="margin-top:10px!important;">
            {% for society in society %}
                <div class="row mask">
                    {% if society.logo %}
                    <div class="col-md-12 mb-2">
                        <div class="justify-content-center align-items-center mx-auto my-auto text-center">
                            <img src="{{asset('./assets/files/' ~ society.logo)}}" class="img-fluid w-20 text-center" width="50px"  alt="logo">
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-12">
                        <h1 class="mx-auto font-weight-bold text-center">{{society.name}}</h1>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-md-12 mx-auto mb-1">
                            <h5 class="text-center font-weight-bold"> {{ society.job }}</h5>
                            <h5 class="text-center font-weight-bold"> {{ society.description }}</h5>
                            <h5 class="text-center font-weight-bold"> {{ app.user.agency ? app.user.agency.email : society.email }}</h5>
                        </div>
                        <div class="col-md-12 mx-auto text-center">
                            <h5 class="text-center font-weight-bold"> {% if app.user.agency %} {{ app.user.agency.tel }} {% else %} {{ society.tel }} {% endif %}</h5>
                            <code class="font-weight-bold font-italic mt-1 text-center justify-content-center align-center">Votre Satisfation, notre engagement!</code>
                        </div>
                        <div class="col-md-12 mx-auto rounded">
                            <h5 class="text-center font-weight-bold border rounded-sm border-warning p-2" style=""> <u>Agence</u>: {{ transfert.agency }} </h5>
                            <h5 class="text-center font-weight-bold border rounded-sm border-warning p-2" style=""> <u>Par</u>: {{ transfert.transagent }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row mask aqua-gradient-rgba">
                <h1 class="mx-auto font-weight-bold white-text">Rétrait d'argent N° {{transfert.id}}</h1>
            </div>
            <div class="row mask mb-1">
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-6"> <u>Expéditeur</u>: {{ transfert.destinateur }}</h3>
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-6"> <u>Tel:</u>: {{ transfert.telsender }}</h3>
            </div>
            <div class="row mask">
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-6"> <u>Destinataire</u>: {{ transfert.destinataire }}</h3>
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-6"> <u>Tel:</u>: {{ transfert.tel }}</h3>
            </div>
            <div class="font-weight-bold text-black-50 mx-auto">
                {{transfert.receveAt|date('d / m / Y - H:i:s')}} | Imprimé à <span class="time"></span>
            </div>
            <div class="container mt-2">
                <div class="row mx-auto">
                    <div class="col-md-12 mx-auto justify-content-between">
                        <h3>Montant Envoyé: <span id="number" class="font-weight-bold">{{ transfert.montant|number_format(0,' ',' ') }} </span> FCFA</h3>
                        <h3>Frais: <span id="number" class="font-weight-bold"> {{ transfert.frais|number_format(0,' ',' ') }}</span> FCFA</h3>
                        <h3>Montant Reçu: <span id="number" class="font-weight-bold"> {{ transfert.amountToPaid|number_format(0,' ',' ') }}</span> FCFA</h3>
                    </div>
                    {# <div class="col-md-8 mx-auto">
                        <h3>Secret id: <span id="" class="font-weight-bold"> {{ transfert.secretid }}</span></h3>
                    </div> #}
                    <div class="col-md-12 mx-auto">
                        <h5><span id="inletter" class="inletter font-weight-bold"></span></h5>
                    </div>
                </div>
            </div>
            <div class="container mb-5" style="margin-bottom:80px!important;">
                <div class="row  text-center justify-content-center mx-auto">
                    <div class="col-md-4 font-weight-bolder mx-auto">
                        <h3><u>Gérant</u>:</h3>
                    </div>
                    <div class="col-md-4 font-weight-bolder mx-auto">
                        <h3><u>Comptable</u>:</h3>
                    </div>
                    <div class="col-md-4 font-weight-bolder mx-auto">
                        <h3><u>Client</u>:</h3>
                    </div>
                </div>
            </div>
            <hr style="border: 2px solid #ccc">
            {% for society in society %}
                <div class="row mask">
                    {% if society.logo %}
                    <div class="col-md-12 mb-2">
                        <div class="justify-content-center align-items-center mx-auto my-auto text-center">
                            <img src="{{asset('./assets/files/' ~ society.logo)}}" class="img-fluid w-20 text-center" width="50px"  alt="logo">
                        </div>
                    </div>
                    {% endif %}
                    <div class="col-md-12">
                        <h1 class="mx-auto font-weight-bold text-center">{{society.name}}</h1>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-md-12 mx-auto mb-1">
                            <h5 class="text-center font-weight-bold"> {{ society.job }}</h5>
                            <h5 class="text-center font-weight-bold"> {{ society.description }}</h5>
                            <h5 class="text-center font-weight-bold"> {{ app.user.agency ? app.user.agency.email : society.email }}</h5>
                        </div>
                        <div class="col-md-12 mx-auto text-center">
                            <h5 class="text-center font-weight-bold"> {% if app.user.agency %} {{ app.user.agency.tel }} {% else %} {{ society.tel }} {% endif %}</h5>
                            <code class="font-weight-bold font-italic mt-1 text-center justify-content-center align-center">Votre Satisfation, notre engagement!</code>
                        </div>
                        <div class="col-md-12 mx-auto rounded">
                            <h5 class="text-center font-weight-bold border rounded-sm border-warning p-2" style=""> <u>Agence</u>: {{ transfert.agency }} </h5>
                            <h5 class="text-center font-weight-bold border rounded-sm border-warning p-2" style=""> <u>Par</u>: {{ transfert.transagent }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row mask aqua-gradient-rgba">
                <h1 class="mx-auto font-weight-bold white-text">Rétrait d'argent N° {{transfert.id}}</h1>
            </div>
            <div class="row mask mb-1">
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-6"> <u>Expéditeur</u>: {{ transfert.destinateur }}</h3>
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-6"> <u>Tel:</u>: {{ transfert.telsender }}</h3>
            </div>
            <div class="row mask">
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-6"> <u>Destinataire</u>: {{ transfert.destinataire }}</h3>
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-6"> <u>Tel:</u>: {{ transfert.tel }}</h3>
            </div>
            <div class="font-weight-bold text-black-50 mx-auto">
                {{transfert.receveAt|date('d / m / Y - H:i:s')}} | Imprimé à <span class="time"></span>
            </div>
            <div class="container mt-1">
                <div class="row mx-auto">
                    <div class="col-md-12 mx-auto justify-content-between">
                        <h3>Montant Envoyé: <span id="number" class="font-weight-bold">{{ transfert.montant|number_format(0,' ',' ') }} </span> FCFA</h3>
                        <h3>Frais: <span id="number" class="font-weight-bold"> {{ transfert.frais|number_format(0,' ',' ') }}</span> FCFA</h3>
                        <h3>Montant Reçu: <span id="number" class="font-weight-bold"> {{ transfert.amountToPaid|number_format(0,' ',' ') }}</span> FCFA</h3>
                    </div>

                    <div class="col-md-12 mx-auto">
                        <h5><span id="inletter" class="inletter font-weight-bold"></span></h5>
                    </div>
                </div>
            </div>
            <div class="container mb-2">
                <div class="row text-center justify-content-center">
                    <div class="col-md-4 font-weight-bolder">
                        <h3><u>Gérant</u>:</h3>
                    </div>
                    <div class="col-md-4 font-weight-bolder">
                        <h3><u>Comptable</u>:</h3>
                    </div>
                    <div class="col-md-4 font-weight-bolder">
                        <h3><u>Client</u>:</h3>
                    </div>
                </div>
            </div>
            <div class="row mx-auto">
                <a id="print" class="btn btn-rounded btn-lg btn-outline-warning mx-auto text-center"  role="button">Imprimer</a>
            </div>
        </section>
{% endblock %}
{% block ScriptP %}
    <script>
        $(document).ready(function(){
            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [year, month, day].join('-');
            }

            function Print(){
                var today = new Date();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                $('.time').text(time);
                return window.print();
            }
            $('#print').click(function(){

                Print();
            });

            $('.inletter').text('Arrêtée à la somme de: ' +NumberToLetter($('#number').text() )+' FCFA');

        });
    </script>
{% endblock %}
