<header>

    <section>
        <!-- Intro Section Retrait transfert-->
        <div class="modal fade" id="modalReceveForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center view view-cascade gradient-card-header blue-gradient">
                        <i class="fas fa-money-check-alt fa-2x mx-auto white-text"></i>
                        <h4 class="modal-title font-weight-bold white-text mx-auto">Rétrait d'argent</h4>
                        <button type="button" class="close text-white font-weight-bold" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="container mask">
                            <form method="POST" action="{{path('dashboard')}}">
                                <div class="mx-auto mb-3">
                                    <div class="col-md-8 mx-auto">
                                        <div class="md-form form-outline">
                                            <input type="text" id="formTextExample1" class="form-control" name="secretid" aria-describedby="textExample1" data-mdb-showcounter="true" maxlength="10"/>
                                            <label class="form-label" for="formTextExample1">Secret ID</label>
                                        </div>
                                        <div id="textExample1" class="form-text font-weight-bolder">
                                            Entrez le code secret de rétrait d'argent sans espace.
                                        </div>
                                        <div class="md-form form-helper"></div>
                                    </div>

                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-outline-yellow btn-rounded font-weight-bold mx-auto">Vérifier</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Intro Retrait transfert -->
    </section>

    {#{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SOUS_ADMIN') or is_granted('ROLE_CHECKER')  %}
        <section>
            <!-- Intro Section StudentForm-->
            <div class="modal fade" id="modalAgentForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center view view-cascade gradient-card-header blue-gradient">
                            <i class="fas fa-user-plus fa-2x mx-auto white-text"></i>
                            <h4 class="modal-title col-md-12 font-weight-bold white-text mx-auto">Création de compte - Agent</h4>
                            <button type="button" class="close text-white font-weight-bold" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="container mask">
                                {{ form_start(form) }}
                                <div class="mx-auto mb-3">
                                    <div class="md-form col-md-8 mx-auto">
                                        {{ form_row(form.fullname) }}
                                    </div>
                                    <div class="md-form col-md-8 mx-auto">
                                        {{ form_row(form.username) }}
                                    </div>
                                    <div class="md-form col-md-8 mx-auto">
                                        {{ form_row(form.tel) }}
                                    </div>
                                    <div class="md-form col-md-8 mx-auto">
                                        {{ form_row(form.password.first) }}
                                    </div>
                                    <div class="md-form col-md-8 mx-auto">
                                        {{ form_row(form.password.second) }}
                                    </div>

                                    <div class="md-form col-md-8 mx-auto">
                                        <select class="form-control" name="access" id="type">
                                            <option>Choisissez le niveau d'accès</option>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <option value="Admin">Administrateur</option>
                                            {% endif %}

                                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SOUS_ADMIN') %}
                                                <option value="Checker">Chef d'agence/Contrôleur</option>

                                            {% endif %}
                                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SOUS_ADMIN') or is_granted('ROLE_CHECKER')  %}
                                                <option value="Mod">Agent</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                    <div class="col-md-8 mx-auto" style="display:none;" id="show">
                                        {{ form_row(form.agency) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-outline-yellow btn-rounded font-weight-bold mx-auto">Valider</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Intro Section -->
        </section>
    {% endif %}#}


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md scrolling-navbar gradient-card-header hoverable">

      <div class="mce-container container-fluid">
        {% for society in society %}
        {% if society.logo %}
            <div class="col-1">
                <a class="navbar-brand " href="{{ path('dashboard') }}" style=""><img src="{{asset('./assets/files/' ~ society.logo)}}" class="img-fluid w-20" width="50px"  alt="logo"></a>
            </div>
        {% endif %}

        {% endfor %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fas fa-bars indigo-text"></span>
        </button>

        <div class="collapse navbar-collapse font-weight-bold indigo-text pt-2" id="navbarTogglerDemo02">

          <ul class="navbar-nav mx-auto smooth-scroll">
            <li class="nav-item mr-2">
              <a class="nav-link waves-effect waves-light indigo-text hoverable hover " href="{{ path('dashboard') }}"  data-offset="80">
                <i class="fas fa-home blue-text mr-2"></i> Accueil
              </a>
            </li>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SOUS_ADMIN') or is_granted('ROLE_CHECKER') or is_granted('ROLE_HEADMASTER') %}
              <li class="nav-item mr-2">
                <a class="nav-link waves-effect waves-light indigo-text hoverable hover" href="{{ path('agency_index') }}"  data-offset="80">
                  <i class="fas fa-list blue-text mr-2"></i> Agences
                </a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light indigo-text hoverable hover" data-toggle="modal" data-target="#modalMdpForm" data-offset="80">
                <i class="fas fa-sync-alt blue-text mr-2"></i> Mot de passe
              </a>
            </li>
            <li class="nav-item dropdown mr-2">
              <a class="nav-link dropdown-toggle waves-light indigo-text hoverable hover" data-offset="80" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Opérations</a>
              <div class="dropdown-menu dropdown-warning" aria-labelledby="navbarDropdownMenuLink">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SOUS_ADMIN') or is_granted('ROLE_CHECKER') or is_granted('ROLE_HEADMASTER') %}
                  <a class="dropdown-item waves-effect waves-light indigo-text font-weight-bold" data-toggle="modal" data-target="#modalAgentForm" data-offset="80">
                    <i class="fas fa-plus blue-text mr-2"></i> Nouvel agent
                  </a>
                {% endif %}

{#                <a class="dropdown-item waves-effect waves-light indigo-text font-weight-bold hoverable hover" data-toggle="modal" data-target="#modalClientForm" data-offset="80">#}
{#                  <i class="fas fa-plus blue-text mr-2"></i> Nouveau client#}
{#                </a>#}

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SOUS_ADMIN') %}
                  <a class="dropdown-item waves-effect waves-light indigo-text font-weight-bold m-0  hoverable hover" data-toggle="modal" data-target="#modalCaisseForm" data-offset="80">
                    <i class="fas fa-plus blue-text mr-2"></i> Alimenter la caisse
                  </a>
{#                  <a class="dropdown-item waves-effect waves-light indigo-text font-weight-bold m-0 hoverable hover" data-offset="80" href="{{ path('etat') }}">#}
{#                    <i class="fas fa-plus blue-text mr-2"></i> Etat Dubai#}
{#                  </a>#}
                {% endif %}
                <hr class="dropdown-divider m-0 p-0">

                <a class="dropdown-item waves-effect waves-light indigo-text font-weight-bold hoverable hover" href="{{ path('transfert') }}">
                  <i class="fas fa-plus blue-text mr-2"></i> Transfert d'argent
                </a>
                <a class="dropdown-item waves-effect waves-light indigo-text font-weight-bold hoverable hover" data-toggle="modal" data-target="#modalReceveForm" data-offset="80">
                  <i class="fas fa-money-check-alt blue-text mr-1"></i> Retrait d'argent
                </a>
              </div>
            </li>


          <!-- Social Icon  -->

            <li class="nav-item mr-2">
              {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SOUS_ADMIN') %}
                {% for society in society %}
                  {% if society.caisse %}
                    <span class="nav-link waves-effect waves-light font-weight-bold"><i class="fas fa-shopping-bag deep-purple-text"></i> {{ society.caisse|number_format(0,' ',' ') }} FCFA</span>
                  {% else %}
                    <span class="nav-link waves-effect waves-light font-weight-bold"><i class="fas fa-shopping-bag deep-purple-text"></i> 0 FCFA</span>
                  {% endif %}
                {% endfor %}
                {% else %}
                  {% if app.user.agency.caisse %}
                    <span class="nav-link waves-effect waves-light font-weight-bold"><i class="fas fa-shopping-bag deep-purple-text"></i> {{ app.user.agency.caisse|number_format(0,' ',' ') }} FCFA</span>
                  {% else %}
                    <span class="nav-link waves-effect waves-light font-weight-bold"><i class="fas fa-shopping-bag deep-purple-text"></i> 0 FCFA</span>
                  {% endif %}
              {% endif %}
            </li>
           {# <li class="nav-item mr-2">
              {% for society in society %}
                {% if not society.dollar %}
                  <span class="nav-link waves-effect waves-light font-weight-bold text-smaller small-10"><i class="fas fa-shopping-bag deep-purple-text"></i> 0 $</span>
                {% else %}
                  <span class="nav-link waves-effect waves-light font-weight-bold"><i class="fas fa-shopping-bag deep-purple-text"></i> {{ society.dollar|number_format(0,' ',' ') }} $</span>
                {% endif %}
              {% endfor %}
            </li>#}

              <li class="nav-item">
                  <a class="nav-link waves-effect waves-light btn btn-outline-indigo btn-sm btn-rounded font-weight-bold" href="{{ path('app_logout') }}" data-offset="">Déconnexion</a>
              </li>
          </ul>
        </div>

      </div>

    </nav>
    <div class="text-center col-md-8 mx-auto">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show justify-content-center" role="alert">
                    <strong> {{ message }} </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% for messagee in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible fade show justify-content-center" role="alert">
                    <strong> {{ messagee }} </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
    </div>
</header>
