{{ form_start(form) }}
    <div class="row card p-4">
        <div class="row mx-auto card-body">
            <div class="col-md-6">
                {{ form_row(form.litre) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.typeCarburant) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.prix) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.fournisseur) }}
            </div>
            <div class="col-md-12">
                {{ form_row(form.buyAt) }}
            </div>
        </div>


        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
