{% extends 'base-station.html.twig' %}


{% block body %}
    <h1 class=" text-uppercase text-center">Gestion Achat Carburant</h1>

<div class="card ">
    <div class="card-body ">
        <div class="table-responsive">
            <div id="example2_wrapper" class=" dataTables_wrapper dt-bootstrap5">
                <table class="table" id="exemple2">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Litre</th>
                            <th>Type de carburant</th>
                            <th>Prix</th>
                            <th>Fournisseur</th>
                            <th>Enregistré par</th>
                            <th>Date Achat</th>
                            <th>Date enregistrement</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for buy_carburant in buy_carburants %}
                        <tr>
                            <td>{{ buy_carburant.id }}</td>
                            <td>{{ buy_carburant.litre }}</td>
                            <td>{{ buy_carburant.typeCarburant }}</td>
                            <td>{{ buy_carburant.prix }}</td>
                            <td>{{ buy_carburant.fournisseur }}</td>
                            <td>{{ buy_carburant.user }}</td>
                            <td>{{ buy_carburant.buyAt ? buy_carburant.buyAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>{{ buy_carburant.createdAt ? buy_carburant.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('app_buy_carburant_show', {'id': buy_carburant.id}) }}">Detail</a>
                                <a href="{{ path('app_buy_carburant_edit', {'id': buy_carburant.id}) }}">Mise a jour</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

    <a href="{{ path('app_buy_carburant_new') }}">Achat de carburant</a>
{% endblock %}
