{% extends 'base-station.html.twig' %}


{% block body %}
    <h1 class="text-uppercase text-center">Gestion vente de carburant</h1>
    <div class="card ">
        <div class="card-body ">
            <div class="table-responsive">
                <div id="example2_wrapper" class=" dataTables_wrapper dt-bootstrap5">
                    <table class="table" id="exemple2">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Litre</th>
                            <th>Type de carburant</th>
                            <th>Prix</th>
                            <th>Agent</th>
                            <th>Type de véhicule</th>
{#                            <th>Client</th>#}
                            <th>Date d'achat</th>
                            <th>Date d'enregistrement</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sell_carburant in sell_carburants %}
                            <tr>
                                <td>{{ sell_carburant.id }}</td>
                                <td>{{ sell_carburant.litre }}</td>
                                <td>{{ sell_carburant.typeCarburant }}</td>
                                <td>{{ sell_carburant.prix }}</td>
                                <td>{{ sell_carburant.agent }}</td>
                                <td>{{ sell_carburant.clientVehicule }}</td>
{#                                <td>{{ sell_carburant.client }}</td>#}
                                <td>{{ sell_carburant.buyAt ? sell_carburant.buyAt|date('d-m-Y H:i:s') : '' }}</td>
                                <td>{{ sell_carburant.createdAt ? sell_carburant.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('app_sell_carburant_show', {'id': sell_carburant.id}) }}">show</a>
                                    <a href="{{ path('app_sell_carburant_edit', {'id': sell_carburant.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('app_sell_carburant_new') }}">Nouvelle vente</a>
{% endblock %}
