{% extends 'base-station.html.twig' %}


{% block body %}
    <h1 class="text-center text-uppercase">Detail - Vente carburant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sell_carburant.id }}</td>
            </tr>
            <tr>
                <th>Litre</th>
                <td>{{ sell_carburant.litre }}</td>
            </tr>
            <tr>
                <th>TypeCarburant</th>
                <td>{{ sell_carburant.typeCarburant }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ sell_carburant.prix }}</td>
            </tr>
            <tr>
                <th>Agent</th>
                <td>{{ sell_carburant.agent }}</td>
            </tr>
            <tr>
                <th>ClientVehicule</th>
                <td>{{ sell_carburant.clientVehicule }}</td>
            </tr>
{#            <tr>#}
{#                <th>Client</th>#}
{#                <td>{{ sell_carburant.client }}</td>#}
{#            </tr>#}
            <tr>
                <th>BuyAt</th>
                <td>{{ sell_carburant.buyAt ? sell_carburant.buyAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ sell_carburant.createdAt ? sell_carburant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sell_carburant_index') }}">Retour a la liste</a>

    <a href="{{ path('app_sell_carburant_edit', {'id': sell_carburant.id}) }}">Modifier</a>

    {{ include('station-dashboard/sell_carburant/_delete_form.html.twig') }}
{% endblock %}
