{% extends 'base.html.twig' %}
{% block print %}
    <link rel="stylesheet" media="print" href="{{ asset('./assets/css/print.css') }}" />
    <script src="{{asset('https://code.jquery.com/jquery-3.6.0.slim.min.js')}}"></script>
{% endblock %}
{% block body %}
    <div class="container-fluid justify-content-center text-bold text-center mt-5 card">
        {% for society in society %}
            <div class="row mask mb-3">
                {% if society.logo %}
                    <div class="col-md-12 mb-2">
                        <div class="justify-content-center align-items-center mx-auto my-auto text-center">
                            <img src="{{asset('./assets/files/' ~ society.logo)}}" class="img-fluid w-25 text-center"  alt="logo">
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-12">
                    <h1 class="mx-auto font-weight-bold text-center">{{society.name}}</h1>
                </div>
                <div class="row mx-auto">
                    <div class="col-md-12 mx-auto mb-1">
                        <h5 class="text-center font-weight-bold"> {{ society.job }}</h5>
                        <h5 class="text-center font-weight-bold"> {{ society.description }}</h5>
                        <h5 class="text-center font-weight-bold"> {{ society.email }}</h5>
                    </div>
                    <div class="col-md-12 mx-auto text-center">
                        <h5 class="text-center font-weight-bold">{{ society.tel }}</h5>
                        <code class="font-weight-bold font-italic mt-1 text-center justify-content-center align-center">Votre Satisfation, notre engagement!</code>
                    </div>
                    <div class="col-md-12 mx-auto rounded">
                        {% if app.user.agency %}
                            <h5 class="text-center font-weight-bold border rounded-sm border-warning p-2" style=""> <u>Agence</u>: {{ app.user.agency.name }} </h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <h1 class="aqua-gradient-rgba font-weight-bold mask text-white">Rapport - Dubai</h1>
        {# <table class="table">
            <tbody>
                <tr>
                    <th>Client</th>
                    <td>{{ user.fullname }}</td>
                </tr>
                <tr>
                    <th>N° Tél</th>
                    <td>{{ user.tel }}</td>
                </tr>
                <tr>
                    <th>Solde</th>
                    <td>{{ user.solde }}</td>
                </tr>
                <tr>
                    <th>Par</th>
                    <td>{{ app.user.useridentifier }}</td>
                </tr>
            </tbody>
        </table> #}
        <div class="row">
            <div class="col-md-4 font-weight-bold md-form">
                <select class="mdb-select md-form" id="agent">
                    <option value="" disabled selected>Filtrer par agent</option>
                    {% for user in user %}
                        <option value="{{user.fullname}}">{{user.fullname}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3 font-weight-bold text-bold md-form">
                <button class="btn btn-outline-primary rounded" id="filter">Filtrer</button>
            </div>
            <div class="col-md-3 font-weight-bold text-bold md-form ml-auto">
                <input type="text" class="md-form form-control" placeholder="Filtrer par date" id="date">
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <table class="table table-bordered">
                    <thead>
                    <h3>Opérations effectuées</h3>
                    <tr>
                        <th>N°</th>
                        <th>Agent</th>
                        <th>Client</th>
                        <th>Montant dollar</th>
                        <th>Date | Heure</th>
                        <th>Commission</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {% for op in operations %}
                        <tr id="tohide">
                            <td style="font-size:18px;">{{ op.numero }}</td>
                            <td style="font-size:18px;">{{ op.agent }}</td>
                            <td style="font-size:18px;">{{ op.tempclient }}</td>
                            <td style="font-size:18px;">{{ op.montant|number_format(0, ' ', ' ') }}</td>
                            <td style="font-size:18px;">{{ op.createdAt|date('d-m-Y') }} | {{ op.time }}</td>
                            <td style="font-size:18px;">{{ op.avdollar|number_format(0, ' ', ' ') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <table class="table table-bordered" id="dt2">
                    <thead>
                    <h3>Alimentation de la caisse</h3>
                    <tr>
                        <th>Montant dollar</th>
                        <th>Date | Heure</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {% for newalim  in alimcaisse %}
                        <tr>
                            <td style="font-size:16px;">{{newalim.montant|number_format(0, ' ', ' ')}}</td>
                            <td style="font-size:16px;">{{newalim.createdat|date('d-m-Y')}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mx-auto">
            <a name="" id="print" class="btn btn-rounded btn-lg btn-outline-warning mx-auto text-center"  role="button">Imprimer</a>
        </div>
    </div>
{% endblock %}
{% block ScriptP %}
    <script>
        $(document).ready(function(){
            $('.mdb-select').materialSelect();

            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [day, month, year].join(' - ');
            }
            function Print(){
                var today = new Date();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                $('.time').text(time);
                return window.print();
            }
            $('#print').click(function(){
                Print();
            });
            $('#filter').click(function(){
                agent=$('#agent').val();
                if(agent && agent!==""){
                    $.ajax({
                        url:'{{ path("etat")}}?agent='+ agent,
                        method:"POST",
                        dataType:'json',
                        cache:false,
                        processData:true,
                        beforeSend:function(){
                            $('#filter').attr('disabled', 'disabled');
                            $('#filter').text('En cours...');
                        },
                        success:function(response)
                        {
                            newdata="";
                            if(response.length>0){
                                for(i=0; i<response.length; i++){
                                    newdata+= '<tr>'+
                                        '<td style="font-size:18px;">'+response[i].numero+'</td>'+
                                        '<td style="font-size:18px;">'+response[i].agent+'</td>'+
                                        '<td style="font-size:18px;">'+response[i].tempclient+'</td>'+
                                        '<td style="font-size:18px;">'+response[i].montant+'</td>'+
                                        '<td style="font-size:18px;">'+formatDate(response[i].created_at)+'|'+response[i].time+'</td>'+
                                        '<td style="font-size:18px;">'+response[i].avdollar+'</td>'+
                                        '</tr>';
                                }

                            }else{
                                newdata+='<tr>'+
                                    '<td colspan="6" class="text-center text-bold" style="font-size:18px;">'+"Désolé nous avons rien trouvé pour cet agent."+'</td>'+
                                    '</tr>';
                            }
                            $('#tohide').hide('slow');
                            $('#tbody').html(newdata);
                            $('#filter').attr('disabled', false);
                            $('#filter').text('Filtrer');
                        }
                    });
                }
                else
                    console.log("Veuillez selectionnez un truc");
            });

            $('#date').keyup(function(){
                date = $(this).val().toLowerCase();
                $('table tbody tr').filter(function(){
                    $(this).toggle($(this).text().toLowerCase().indexOf(date)>-1)
                });
            });

        });
    </script>
{% endblock %}