{% extends "base.html.twig" %}
{% block print %}
    <link rel="stylesheet" media="print" href="{{ asset('./assets/css/print.css') }}" />
{% endblock %}
{% block body %}
    <section class="container card">
        {% for society in society %}     
            <div class="row mask">
                {% if society.logo %}
                <div class="col-md-12 mb-5">
                    <div class="justify-content-center align-items-center mx-auto my-auto text-center">
                        <img src="{{asset('./assets/files/' ~ society.logo)}}" class="img-fluid w-25 text-center"  alt="logo">
                    </div>
                </div>
                {% endif %}
                <div class="col-md-12">
                     <h1 class="mx-auto font-weight-bold text-center">{{society.name}}</h1>
                </div>
                <div class="row mx-auto">
                    <div class="col-md-12 mx-auto mb-1">
                        <h5 class="text-center font-weight-bold"> {{ society.job }}</h5>
                        <h5 class="text-center font-weight-bold"> {{ society.description }}</h5>
                        <h5 class="text-center font-weight-bold"> {{ society.email }}</h5>
                    </div>
                    <div class="col-md-12 mx-auto text-center">
                        <h5 class="text-center font-weight-bold"> {% if app.user.agency %} {{ app.user.agency.tel }} {% else %} {{ society.tel }} {% endif %}</h5>
                        <code class="font-weight-bold font-italic mt-1 text-center justify-content-center align-center">Votre Satisfation, notre engagement!</code>
                    </div>
                    <div class="col-md-12 mx-auto rounded">
                        {% if app.user.agency %}
                            <h5 class="text-center font-weight-bold border rounded-sm border-warning p-2" style=""> <u>Agence</u>: {{ app.user.agency }} </h5>
                        {% endif %}
                        <h5 class="text-center font-weight-bold border rounded-sm border-warning p-2" style=""> <u>Par</u>: {{ agent }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if type is same as ('Lot') %}
            <div class="row mask blue-gradient mt-3">
                <h1 class="mx-auto font-weight-bold white-text"> {{type == "Lot" ? "Gold" : "Caisse Dubai" }} - N° {{numero}}</h1>
            </div>
            {# <div class="row mask mt-3 mb-3">
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-12"> <u>Client</u>: {{client.fullname}}</h3>
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0 col-md-12"> <u>Tel:</u>: {{client.tel}}</h3>
                <div class="row text-black-50 mx-auto">
                    <div class="col-md-12 mx-auto">
                        <h5 class="font-weight-bold"> {{client.agency}}</h5>
                    </div>
                </div>
            </div> #}
        
            <div class="row font-weight-bold text-black-50 col-md-12 mt-3">
                <div class="col-md-6"> {{date|date('d - m - Y')}} | 
                    <span id="time"></span>
                </div>
                {# <div class="col-md-6"> Nombre barre(s) | {{barre}} </div>   #}
            </div>
            
            <div class="container mt-3">
                <table class="table text-center align-items-center table-bordered table-hover  table-responsive-sm table-responsive-md">
                    <thead class="thead-light">
                        <tr>
                            <th class="font-weight-bold " style="font-size:18px;">Poids</th>
                            <th class="font-weight-bold " style="font-size:18px;">Avance dollar</th>
                            {# <th class="font-weight-bold">Prix fixing</th> #}
                            <th class="font-weight-bold " style="font-size:18px;">Taux dollar</th>
                            <th class="font-weight-bold " style="font-size:18px;">Avance Fcfa</th>
                            {# <th class="font-weight-bold">Reliquat</th> #}
                        </tr>
                    </thead>
                    <tbody class="text-bold">
                    {% for operation in operation %}
                        <tr>
                            <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.poidair }} 
                                {% if not see %}
                                    <a class= "btn btn-outline-warning btn-sm btn-rounded" href="{{ path('updateoperationlotdubai',{'id':operation.id}) }}"><i class="fas fa-edit"></i></a> 
                                    <a class= "btn btn-outline-warning btn-sm btn-rounded" href="{{ path('updateoperationlotdubai',{'id':operation.id, 'delete':true}) }}"><i class="fas fa-trash"></i></a>
                                {% endif %}
                                
                            </td>
                            <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.avdollar|number_format(0,' ',' ') }} $</td>
                            {# <td class="font-weight-bolder" style="font-size:18px!important;">{{ operation.prixu }}</td> #}
                            <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.taux }}</td>
                            <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.avance|number_format(0,' ',' ') }} FCFA</td>
                            {# <td class="font-weight-bolder" style="font-size:18px!important;">{{ operation.total }} $</td> #}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
             <div class="row font-weight-bold text-black-50 col-md-12 mt-3">
                <div class="col-md-6"> {{date|date('d - m - Y')}} | 
                    <span id="time"></span>
                </div>
                {# <div class="col-md-6"> Nombre barre(s) | {{barre}} </div>   #}
            </div>
            <div class="container mt-3">
                <table class="table text-center align-items-center table-bordered table-hover  table-responsive-sm table-responsive-md">
                    <thead class="thead-light">
                        <tr>
                            <th class="font-weight-bold " style="font-size:18px!important;">Lot N°</th>
                            <th class="font-weight-bold " style="font-size:18px!important;">Date</th>
                            <th class="font-weight-bold " style="font-size:18px!important;">Client</th>
                            <th class="font-weight-bold " style="font-size:18px!important;">Valeur vendue</th>
                            <th class="font-weight-bold " style="font-size:18px!important;">Solde</th> 
                            <th class="font-weight-bold " style="font-size:18px!important;">Commission</th>
                        </tr>
                    </thead>
                    <tbody class="text-bold">
                        {% for operation in operation %}    
                            <tr>
                                <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.numero }}</td>
                                <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.createdAt|date('d-m-Y') ~ ' - ' ~ operation.time }}</td>
                                <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.tempclient ~ ' - ' ~ operation.tel }}</td>
                                <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.montant|number_format(0,' ',' ') }} $ 
                                    {% if not see %}
                                        <a class= "btn btn-outline-warning btn-sm btn-rounded" href="{{ path('updateoperationlotdubai',{'id':operation.id}) }}"><i class="fas fa-edit"></i></a> 
                                        <a class= "btn btn-outline-warning btn-sm btn-rounded" href="{{ path('updateoperationlotdubai',{'id':operation.id, 'delete':true}) }}"><i class="fas fa-trash"></i></a>
                                    {% endif %}
                                </td>
                                <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.totalm|number_format(0,' ',' ') }} $</td>
                                <td class="font-weight-bolder " style="font-size:18px!important;">{{ operation.avdollar|number_format(0,' ',' ') }} $</td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td class="font-weight-bolder" style="font-size:18px!important;" colspan='3'>Total:</td>
                                {# <td class="font-weight-bolder" style="font-size:18px!important;"></td>
                                <td class="font-weight-bolder" style="font-size:18px!important;"></td> #}
                                <td class="font-weight-bolder" style="font-size:18px!important;">{{ solde|number_format(0,' ',' ') }} $</td>
                                <td class="font-weight-bolder" style="font-size:18px!important;">{{totalm|number_format(0, ' ', ' ')}} $</td>
                                <td class="font-weight-bolder" style="font-size:18px!important;">{{comis|number_format(0, ' ', ' ')}} $</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
        <div class="row mx-auto">
            {% if not see %}
                <button id="valid" type="button" class="btn btn-rounded btn-outline-success btn-md mx-auto text-center">Valider</button>
            {% endif %}
            
            <a name="" id="print" class="btn btn-rounded btn-lg btn-outline-warning mx-auto text-center"  role="button">Imprimer</a>
        </div>
    </section>
{% endblock %}
{% block ScriptP %}
    <script>
        $().ready(function(){
            function Print(){
                var today = new Date();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                $('.time').text(time);
                return window.print();
            }
            $('#print').click(function(){
                Print();
            });
        
            number=$('#number').text();
            $('.inletter').text('Arrêtée à la somme de: ' +NumberToLetter(number)+ ' FCFA');
            fixed=$('#tofixed').text();
            fixed=parseFloat(fixed).toFixed(2);
            $('#tofixed').text(fixed);
            //$('#carat').text(getKarat(fixed));
            $('#valid').click(function(){
                $(this).hide();
                $.ajax({
                    url:"{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}",
                    method:"POST",
                    data:{valid:true},
                    success:function(response)
                    {
                        console.log(response);
                    }
                })
            });
        });
    </script>
{% endblock %}