{% extends "base.html.twig" %}
{% block body %}
    <section class="container card" style="margin-top:50px!important;">
        <div class="row mask aqua-gradient-rgba">
            <h1 class="mx-auto font-weight-bold white-text"> Formulaire - Gold</h1>
        </div>
        <div class="font-weight-bold text-black-50 mx-auto">
            {{'now'|date('d / m / Y')}}
        </div>
        {# <button class="btn btn-warning btn-sm btn-rounded col-md-1 mx-auto font-weight-bold"  id="prev"> <i class="fas fa-arrow-alt-circle-left"></i> </button> #}
        {% if  transact is same as ('Lot') %}
            <div class="container">
                {{ form_start(form, {'attr':{'id':'operation'}}) }}
                    <div class="mx-auto">
                        <div class="md-form row">
                            <div class="md-form mx-auto col-md-1 my-0">
                                {{ form_row(form.numero) }}
                            </div>
                            <div class="md-form mx-auto col-md-1 my-0">
                                {{ form_row(form.poidair) }}
                            </div>
                            <div class="md-form mx-auto col-md-2 my-0">
                                {{ form_row(form.avdollar) }}
                            </div>
                            <div class="md-form mx-auto col-md-2 my-0">
                                {{ form_row(form.taux) }}
                            </div>
                            <div class="md-form mx-auto col-md-2 my-0">
                                {{ form_row(form.avance) }}
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <button type="submit" class="btn aqua-gradient btn-rounded font-weight-bold mx-auto" id="import">Ajouter</button> 
                    </div>
                {{ form_end(form) }}   
            </div>
        {% else %}
            {# <div class="container">
                {{ form_start(formtwo, {'attr':{'id':'operationtwo'}}) }}
                    <div class="mx-auto">
                        <div class="md-form row">
                            <div class="md-form mx-auto col-md-3">
                                {{ form_row(formtwo.montant) }}
                            </div>
                        </div>
                        <div class="md-form row mt-3">
                            <div class="md-form mx-auto col-md-3">
                                {{ form_row(formtwo.motif) }}
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        <button type="submit" class="btn aqua-gradient btn-rounded font-weight-bold mx-auto" id="importtwo">Valider</button> 
                    </div>
                {{ form_end(formtwo) }} 
            </div> #}
        {% endif %}
        <div class="row">
            <a role="button" class="btn btn-warning btn-rounded font-weight-bold mx-auto" id="print" href="#" style="display:none;">Imprimer</a> 
        </div>
    </section>
{% endblock %}
{% block ScriptP %}
    <script>
        $(document).ready(function(){
            taux=0;
            avdollar=0;
            $('#operation_lot_avdollar').change(function(){
                avdollar=$(this).val();
                $('#operation_lot_taux').keyup(function(){
                    taux=$(this).val();
                    $('#operation_lot_avance').val(parseFloat(avdollar*taux).toFixed(2));
                });
            });
           
            {% if ops %}
                $('#operation_lot_poidair').val({{ops.poidair}});
                $('#operation_lot_prixu').val({{ops.prixu}});
            {% endif %}
            
            
            /*$('#operation_base').change(function(){
                base=$(this).val();
                    $('#operation_poidair').keyup(function(){
                        
                        poidair=$(this).val();
                        $('#operation_poideau').keyup(function(){
                        poideau=$(this).val();
                        densite=$('#operation_densite').val(parseFloat(poidair/poideau).toFixed(2));              
                        carat=getKarat(parseFloat(densite.val()).toFixed(2));
                        $('#operation_karat').val(carat);
                        prixu=parseFloat((base/24)*carat).toFixed(2);
                        $('#operation_prixu').val(prixu);
                        montant=parseFloat(poidair*prixu).toFixed(2);
                        $('#operation_montant').val(montant);
                        if(taux !==0 && taux !== null){
                            $('#operation_qte').val(parseFloat(montant / taux).toFixed(2));
                            $('#operation_vdollar').val(parseFloat(avance / taux).toFixed(2));
                        }
                        
                        $('#operation_totalm').val(montant);
                        if($('#operation_avance').val()!==''){
                            total=montant - $('#operation_avance').val();
                            $('#operation_total').val(total);   
                        }
                    });   
                });
            });*/
            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) 
                    month = '0' + month;
                if (day.length < 2) 
                    day = '0' + day;

                return [year, month, day].join('-');
            }
            $('#operation').on('submit', function(event){
                event.preventDefault();
                 
                $.ajax({
                    url:"{{ path('operationlot',{'transact': transact}) }}",
                    method:"POST",
                    data:new FormData(this),
                    contentType:false,
                    cache:false,
                    processData:false,
                    beforeSend:function(){
                        $('#import').attr('disabled', 'disabled');
                        $('#import').text('En cours...');
                    },
                    success:function(response)
                    {
                        $('#operation').trigger("reset");
                        $('#operation_lot_avdollar').val(response[1]);
                        $('#operation_lot_taux').val(response[2]);
                        $('#operation_lot_numero').val(response[4]);
                        $('#import').attr('disabled', false);
                        $('#import').text('Ajouter');
                        link="{{ path('facturationtemplot', {'type':'typee', 'numero':'numeroo', 'date':'datee'}) }}";
                        a=link.replace('typee', response[0]);
                        //b=a.replace('numeroo', response[1]);
                        /*e="{{'now'|date('Y-m-d 00:00:00')}}";
                        e=e.replace('now', response[3]);*/
                        c=a.replace('datee', response[3]);
                        c=c.replace('numeroo', response[4]);
                        //d=c.replace('datee',response[3]);
                        //$('#operation').hide("slow");
                        $('#print').attr("href", c);
                        $('#print').show('fast');
                    }
                })
                
            }); 


        })
    </script>
{% endblock %}