{% extends "base.html.twig" %}
{% block body %}
    <section class="container card" style="margin-top:10px!important;">
        <div class="row mask aqua-gradient-rgba">
            <h1 class="mx-auto font-weight-bold white-text"> Modification - {{operation.type}}</h1>
        </div>
        <div class="row mask">
            
            {{ form_start(form, {'attr':{'id':'operation'}}) }}
            {% if  operation.type is same as ('Lot Dubai') %}
                <h3 class="mx-auto font-weight-bolder pt-3 pr-0"> <u>Client</u></h3>
                <div class="row text-black-50 mx-auto" >
                    <div class="md-form col-md-6 mx-auto">
                        {{ form_row(form.tempclient) }}
                    </div>
                    <div class="md-form col-md-6 mx-auto">
                        {{ form_row(form.tel) }}
                    </div>
                    {% if app.user.agency %}
                        <div class="col-md-6 mx-auto">
                            <h5 class="font-weight-bold"> {{app.user.agency}}</h5>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="font-weight-bold text-black-50 mx-auto">
            {{'now'|date('d / m / Y')}}
        </div>
        
            <div class="container">
                {% if  operation.type is same as ('Lot Dubai') %}
                    <div class="mx-auto">
                        <div class="md-form row">
                            <div class="md-form mx-auto col-md-1">
                                {{ form_row(form.numero) }}
                            </div>
                            <div class="md-form mx-auto col-md-2">
                                {{ form_row(form.montant) }}
                            </div>
                            <div class="md-form mx-auto col-md-2">
                                {{ form_row(form.avdollar) }}
                            </div>
                            <div class="md-form mx-auto col-md-3">
                                {{ form_row(form.totalm) }}
                            </div>
                        </div> 
                    </div>
                {% else %}
                    <div class="md-form row">
                        <div class="md-form mx-auto col-md-1">
                            {{ form_row(form.numero) }}
                        </div>
                        <div class="md-form mx-auto col-md-3">
                            {{ form_row(form.poidair) }}
                        </div>
                        <div class="md-form mx-auto col-md-3">
                            {{ form_row(form.avdollar) }}
                        </div>
                        <div class="md-form mx-auto col-md-3">
                            {{ form_row(form.taux) }}
                        </div>
                        <div class="md-form mx-auto col-md-2">
                            {{ form_row(form.avance) }}
                        </div>
                    </div> 
                {% endif %}    
                    <div class="row">
                        <button type="submit" class="btn aqua-gradient btn-rounded font-weight-bold mx-auto" id="import">Valider</button> 
                    </div>
                {{ form_end(form) }} 
                <div class="row">
                    <a role="button" class="btn btn-warning btn-rounded font-weight-bold mx-auto" id="print" href="#" style="display:none;">Imprimer</a> 
                </div>
            </div>
            
        
    </section>
{% endblock %}
{% block ScriptP %}
    <script>
        $(document).ready(function(){
            {% if operation.type is same as ('Lot Dubai') %}
                $('#operation_dubai_tempclient').val("{{operation.tempclient}}");
                $('#operation_dubai_tel').val("{{operation.tel}}");
                $('#operation_dubai_numero').val("{{operation.numero}}");
            {% else %}
                $('#operation_lot_tempclient').val("{{operation.tempclient}}");
                $('#operation_lot_tel').val("{{operation.tel}}");
                $('#operation_lot_numero').val("{{operation.numero}}");
                $('#operation_lot_poidair').val("{{operation.poidair}}");
            {% endif %}
            
            
            var solde = parseFloat({{caisse}}) ;
            $('#operation_dubai_montant').change(function(){
                montant=parseFloat($(this).val());
                $('#operation_dubai_avdollar').keyup(function(){
                    comis=parseFloat($(this).val());
                    total=parseFloat(montant+comis);
                    t = solde - total;
                    
                    $('#operation_dubai_totalm').val(t);
                })
            });
            $('#operation_lot_avdollar').change(function(){
                avdollar=$(this).val();
                $('#operation_lot_taux').keyup(function(){
                    taux=$(this).val();
                    $('#operation_lot_avance').val(parseFloat(avdollar*taux).toFixed(2));
                });
            });
           

        })
    </script>
{% endblock %}